
@{
    ViewBag.Title = "School_Details";
    Layout = "~/Views/Shared/Customer.cshtml";
}

@model WebApplication1.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src="~/uploads/@Model.Logo" width="80" height="80" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustName)
        </dd>

    </dl>
</div>
<br />
<h4>
    @Html.ActionLink("Select Fields", "SelectField", new { id = Model.SchoolId })|
    @Html.ActionLink("Edit", "Edit_School", new { id = Model.SchoolId }) |
   @Html.ActionLink("Back to List", "School_Index")
   
</h4>


