
@{
    ViewBag.Title = "viewidcard";
    Layout = "~/Views/Shared/Customer.cshtml";
}

@{ 
    List<Student> st= ViewBag.studentlist;
}
<style>
    .card-title
    {
        font-size:12px;
    }
</style>
<div class="container">
    <div class="row">
       @foreach (var item in st)
       {
        <div class="col-md-4">
            <div class="card">

                <div class="card-header">
                    <img src="~/uploads/@item.School.Logo" height="40" style="float:left;" />
                    <h5 style="text-align:center">@item.School.SchoolName</h5>
                </div>


                <div class="card-body">
                    <h5 class="card-title">Name: @item.StName</h5>
                    <h5 class="card-title">Class: @item.ClassName-@item.SectonName</h5>
                    <h5 class="card-title">Father Name: @item.FatherName</h5>
                    <h5 class="card-title">Mother Name: @item.MotherName</h5>
                    <h5 class="card-title">Address: @item.Address</h5>
                   
                        <h5 class="card-title">Dob : @item.Dob</h5>
                    @if (item.Mobile != null)
                    {<h5 class="card-title">Contact : @item.Mobile.ToString()</h5>
                }
                else
                {
                    <h5 class="card-title">Contact : 0</h5>
                }

                    <img src="~/uploads/@item.Photo" height="80" style="float:right;margin-top:-160px;" />
                </div>
            </div>
        </div>
       }
    </div>
</div>
